<h3><i class="fas fa-book-reader"></i> Store - Login</h3>
<div class="section">
    <p class="lead">
        Login to this
    </p>
    <div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Login with google</a>
    </div>
</div>